<template>
  <v-card class="grey lighten-5 z-depth-0">
  <v-subheader inset>New Post</v-subheader>
    <v-card-text>
      <v-container>
        <v-row>
          <v-col xs2>
            <v-subheader><h6>Name</h6></v-subheader>
          </v-col>
          <v-col xs8>
            <v-text-field
              v-model="post.name"
              name="post-name"
              label="Your post's name"
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row>
            <v-col xs2>
              <v-subheader><h6>Content</h6></v-subheader>
            </v-col>
              <v-col xs8>
                  <v-text-field
                    v-model="post.content"
                    name="post-content-input"
                    label="Type your post's content"
                    ></v-text-field>
                </v-col>
                <v-col xs2>
                  <div>
                  <v-btn primary dark class="btn--dark-flat-focused" @click.native="createPost">Save</v-btn>
                  </div>
                </v-col>
              </v-row>
      </v-container>
    </v-card-text>
  </v-card>
  <!-- <div class="new-post">
    <el-list class="el-double-line">
      <el-subheader class="el-inset">New Post</el-subheader>
      <el-list-item>
        <el-avatar class="el-avatar-icon">
          <el-icon>folder</el-icon>
        </el-avatar>
        <div class="el-list-text-container">
          <el-input-container>
            <label>Name</label>
            <el-input v-model="post.name" placeholder=""></el-input>
          </el-input-container>
        </div>
      </el-list-item>
      <el-list-item>
        <el-avatar class="el-avatar-icon">
          <el-icon>folder</el-icon>
        </el-avatar>
        <div class="el-list-text-container">
          <el-input-container>
            <label>Content</label>
            <el-textarea v-model="post.content" placeholder=""></el-textarea>
          </el-input-container>
        </div>
      </el-list-item>
      <el-list-item>
        <span style="flex: 1"></span>
        <el-button class="el-raised el-primary" @click.native="createPost">Save</el-button>
        <span style="flex: 1"></span>
      </el-list-item>
    </el-list>
  </div> -->
</template>

<script>
import PostsApi from '../../api/posts.js'
import router from '../../router'

export default {
  name: 'new-post',
  data () {
    return {
      post: {
        name: '',
        content: ''
      }
    }
  },
  methods: {
    createPost () {
      PostsApi.createPost(this.post,
        function (_post) {
          router.push({ name: 'Posts.index' })
        }
      )
    }
  }
}
</script>

<style scoped>

</style>
