<template>
  <div class="post">
    <v-card>
      <v-container fluid>
        <v-row>
            <v-list-tile-avatar>
              <v-icon>announcement</v-icon>
            </v-list-tile-avatar>
          <v-col md 4>
            <v-list two-line>
              <v-list-tile-content>
                <v-list-tile-title v-html="post.name" />
                <v-list-tile-sub-title v-html="post.content" />
              </v-list-tile-content>
            </v-list>
           </v-col>
         </v-list-tile-content>
        <v-list-tile-action>
          <v-btn icon="icon" class="indigo--text">
            <v-icon>code</v-icon>
          </v-btn>
        </v-list-tile-action>
        </v-row>
      </v-container>
    <v-divider inset></v-divider>
    </v-card>
  </div>
</template>

<script>

export default {
  name: 'post',
  props: {
    post: {
      type: Object,
      required: false,
      default: {}
    }
  }
}
</script>

<style scoped>

</style>
