<template>
  <v-card class="grey lighten-5 z-depth-0">
    <v-card-text>
      <v-container>
        <v-row>
          <v-col xs2>
            <v-subheader><h6>E-MAIL</h6></v-subheader>
          </v-col>
          <v-col xs8>
            <v-text-field
              v-model="email"
              hint="uxxxxxxx@iccs340.com"
              name="email-input"
              label="Your E-Mail Address"
              value="xxxx"
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row>
            <v-col xs2>
              <v-subheader><h6>PASSWORD</h6></v-subheader>
            </v-col>
              <v-col xs8>
                  <v-text-field
                    v-model="password"
                    name="password-input"
                    label="Enter your password"
                    hint="Your email without @"
                    min="8"
                    append-icon="visibility_off"
                    type="password"
                  ></v-text-field>
                </v-col>
              <v-col xs2>
                <div>
                <v-btn primary dark class="btn--dark-flat-focused" @click.native="login">
                  LOGIN
                </v-btn>
                </div>
              </v-col>
              </v-row>
      </v-container>
    </v-card-text>
  </v-card>
</template>
<script>
import UsersApi from '@/api/users.js'
import router from '@/router'

export default {
  name: 'sign-in',
  data () {
    return {
      email: '',
      password: ''
    }
  },
  methods: {
    login () {
      console.log('methods.login')
      UsersApi.login(this.email, this.password, function (_response) {
        // NOTE: Posts.index is not yet implemented
        router.push({ name: 'Posts.index' })
      })
    }
  }
}
</script>
