<template>
  <div class="comment">
    <v-card>
      <v-container fluid>
        <v-row>
            <v-list-tile-avatar>
              <v-icon>account_circle</v-icon>
            </v-list-tile-avatar>
          <v-col md 4>
            <v-list two-line>
              <v-list-tile-content>
                <v-list-tile-title v-html="comment.user.email" />
                <v-list-tile-sub-title v-html="comment.content" />
              </v-list-tile-content>
            </v-list>
           </v-col>
         <v-divider inset></v-divider>
      </v-row>
      </v-container>
    </v-card>
  </div>
</template>

<script>

export default {
  name: 'comment',
  props: {
    comment: {
      type: Object,
      required: false,
      default: {}
    }
  }
}
</script>

<style scoped>
  .el-list-item {
    padding-left: 40px;
  }
</style>
