<template>
  <v-list>
    <v-list-item>
      <v-list-tile-avatar>
        <v-icon>comment</v-icon>
      </v-list-tile-avatar>
      <v-container>
        <label>Add Comment</label>
        <v-text-field
        v-model="comment.content"
        label="Your comment here"
        ></v-text-field>
      </v-container>
    </v-list-item>
    <v-list-item>
      <span style="flex: 1"></span>
        <v-btn primary dark class="btn--dark-flat-focused" @click.native="createComment">
          Comment
        </v-btn>
      <span style="flex: 1"></span>
    </v-list-item>
  </v-list>
</template>

<script>
import CommentsApi from '../../api/comments.js'
import router from '../../router'

export default {
  name: 'new-comment',
  data () {
    return {
      comment: {
        content: ''
      }
    }
  },
  props: {
    post: {
      type: Object,
      required: false,
      default: {}
    }
  },
  methods: {
    createComment () {
      var postId = this.post.id
      var content = this.comment.content
      this.comment.content = ''
      CommentsApi.createComment(postId, content,
        function (_comment) {
          console.log(_comment)
          router.push({ name: 'Posts.show', params: { post_id: postId }, query: { t: new Date() } })
        }
      )
    }
  }
}
</script>

<style scoped>
.el-list-item {
  padding-left: 40px;
}
</style>
