<template lang="html">
<v-card>
  <v-card-row class="blue white--text">
    <v-menu bottom right>
      <v-btn icon="icon" slot="activator" dark>
        <v-icon>more_vert</v-icon>
      </v-btn>
      <v-list>
        <div>
          <v-btn light flat href="/#/posts/new" >New</v-btn>
        </div>
        <div>
          <v-btn light flat href="/#/posts">Home</v-btn>
        </div>
        <div>
          <v-btn light flat @click.native="logout">Logout</v-btn>
        </div>

        </v-list-item>
      </v-list>
    </v-menu>
    <v-card-title>MENU</v-card-title>
  </v-card-row>

</v-card>

</template>


<script>
import UsersApi from '@/api/users.js'
import router from '@/router/index.js'
export default {
  methods: {
    toggleLeftSidenav () {
      this.$refs.leftSidenav.toggle()
    },
    logout () {
      console.log('methods.logout')
      UsersApi.logout(this.email, this.password, function (_response) {
        // NOTE: Posts.index is not yet implemented
        router.push({ name: 'Posts.index' })
      })
    }
  }
}
</script>

<style lang="css">
</style>
